@{
    Layout = "";
    Html.AddCssFileParts(true, Url.Content("~/Plugins/cloudCommerce.PayPal/Content/smartstore.paypal.css"));
}
@model cloudCommerce.PayPal.Models.PayPalExpressPaymentInfoModel
@using cloudCommerce.Web.Framework;

@if (Model.CurrentPageIsBasket)
{
    <div id="paypal-checkout">
        <div class="selection-text">
            @T("Plugins.Payments.PayPalExpress.SelectionText")
        </div>

        <div class="form-horizontal">
            <a href='@Url.Action("SubmitButton", "PayPalExpress", new { area = "cloudCommerce.PayPal" })'>
                <img id="paypal-express-button" alt="" src="@Model.SubmitButtonImageUrl" />
            </a>

        </div>
    </div>
}