<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="cloudCommerce.Web.Framework.Theming.WebViewPage">
      <namespaces>
        <add namespace="System.Linq.Expressions" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="cloudCommerce" />
        <add namespace="cloudCommerce.Admin.Extensions" />
        <add namespace="cloudCommerce.Admin.Models.Affiliates" />
        <add namespace="cloudCommerce.Admin.Models.Blogs" />
        <add namespace="cloudCommerce.Admin.Models.Catalog" />
        <add namespace="cloudCommerce.Admin.Models.Cms" />
        <add namespace="cloudCommerce.Admin.Models.Common" />
        <add namespace="cloudCommerce.Admin.Models.Customers" />
        <add namespace="cloudCommerce.Admin.Models.Directory" />
        <add namespace="cloudCommerce.Admin.Models.Discounts" />
        <add namespace="cloudCommerce.Admin.Models.ExternalAuthentication" />
        <add namespace="cloudCommerce.Admin.Models.Forums" />
        <add namespace="cloudCommerce.Admin.Models.Localization" />
        <add namespace="cloudCommerce.Admin.Models.Logging" />
        <add namespace="cloudCommerce.Admin.Models.Messages" />
        <add namespace="cloudCommerce.Admin.Models.News" />
        <add namespace="cloudCommerce.Admin.Models.Orders" />
        <add namespace="cloudCommerce.Admin.Models.Payments" />
        <add namespace="cloudCommerce.Admin.Models.Plugins" />
        <add namespace="cloudCommerce.Admin.Models.Polls" />
        <add namespace="cloudCommerce.Admin.Models.Security" />
        <add namespace="cloudCommerce.Admin.Models.Settings" />
        <add namespace="cloudCommerce.Admin.Models.Shipping" />
        <add namespace="cloudCommerce.Admin.Models.ShoppingCart" />
				<add namespace="cloudCommerce.Admin.Models.Stores" />
        <add namespace="cloudCommerce.Admin.Models.Tasks" />
        <add namespace="cloudCommerce.Admin.Models.Tax" />
        <add namespace="cloudCommerce.Admin.Models.Topics" />
        <add namespace="cloudCommerce.Core.Events" />
        <add namespace="cloudCommerce.Core.Infrastructure" />
        <add namespace="cloudCommerce.Web.Framework" />
        <add namespace="cloudCommerce.Web.Framework.Modelling" />
        <add namespace="cloudCommerce.Web.Framework.Events" />
        <add namespace="cloudCommerce.Web.Framework.UI" />
        <add namespace="cloudCommerce.Web.Framework.UI.Captcha" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
